In [1]:
import numpy as np
import pandas as pd
import cv2
pd.set_option('display.max_rows', 100)

#set the directory for custom scripts
import sys
sys.path.append('/Users/macbook/Box/git_hub/Insight_Project_clean/scripts/')

#import custom scripts
import sql_con
from sql_con import df_from_query
import hsv_shift as hsv

postgresql://macbook:DarwinRulez!1@localhost/colors

In [6]:
#import the hsv from the database
hsv_sql = sql_query = """
SELECT name, label, h,s,v FROM ds_swatches;
"""

ds_hsv = df_from_query(hsv_sql)

postgresql://macbook:DarwinRulez!1@localhost/colors

In [7]:
ds_hsv.head()

              name  label           h           s           v
0  Imperial Purple      1  127.981481  126.981481  143.601852
1  Imperial Purple      1  127.944444  126.287037  144.250000
2  Imperial Purple      1  127.981481  126.564815  144.009259
3  Imperial Purple      1  127.962963  126.509259  143.981481
4  Imperial Purple      1  128.231481  126.583333  144.259259

In [8]:
ds_hsv_shift = hsv.shift_h_df(ds_hsv, .30,.30)

In [9]:
ds_hsv_shift

               H        H120        H240
0     127.981481    7.981481   67.981481
1     127.944444    7.944444   67.944444
2     127.981481    7.981481   67.981481
3     127.962963    7.962963   67.962963
4     128.231481    8.231481   68.231481
...          ...         ...         ...
4893  254.598584  254.598584  254.598584
4894  254.518700  254.518700  254.518700
4895  254.436819  254.436819  254.436819
4896  254.428831  254.428831  254.428831
4897  254.462781  254.462781  254.462781

[4898 rows x 3 columns]

In [11]:
ds_full = pd.concat([ds_hsv,ds_hsv_shift_df], axis = 1).dropna()

In [12]:
ds_full

,name,label,h,s,v,H,H120,H240
0,Imperial Purple,1,127.981481,126.981481,143.601852,127.981481,7.981481,67.981481
1,Imperial Purple,1,127.944444,126.287037,144.250000,127.944444,7.944444,67.944444
2,Imperial Purple,1,127.981481,126.564815,144.009259,127.981481,7.981481,67.981481
3,Imperial Purple,1,127.962963,126.509259,143.981481,127.962963,7.962963,67.962963
4,Imperial Purple,1,128.231481,126.583333,144.259259,128.231481,8.231481,68.231481
...,...,...,...,...,...,...,...,...
4893,Titanium White,79,26.666667,1.777778,253.138889,254.598584,254.598584,254.598584
4894,Titanium White,79,26.666667,1.777778,252.768519,254.518700,254.518700,254.518700
4895,Titanium White,79,26.666667,1.777778,252.388889,254.436819,254.436819,254.436819
4896,Titanium White,79,26.666667,1.777778,252.351852,254.428831,254.428831,254.428831
4897,Titanium White,79,26.666667,1.777778,252.509259,254.462781,254.462781,254.462781

# Seperate the "neutral" and "non-neutral"

In [13]:
ds_chroma = ds_full[ds_full["H"]<200]

In [14]:
ds_neutral = ds_full[ds_full["H"]>200]

In [15]:
ds_chroma.name.value_counts()

Cobalt Blue                   62
Hooker’s Green                62
Ultramarine Violet            62
Cerulean Blue                 62
Quinacridone Deep Gold        62
Moonglow                      62
Organic Vermilion             62
Ultramarine Turquoise         62
New Gamboge                   62
Manganese Blue Hue            62
Indian Yellow                 62
Quinacridone Burnt Orange     62
Quinacridone Pink             62
Sap Green                     62
Cadmium Yellow Light Hue      62
Raw Sienna                    62
Cadmium Yellow Medium Hue     62
Rich Green Gold               62
Quinacridone Coral            62
Green Gold                    62
Rose of Ultramarine           62
Viridian                      62
French Ultramarine            62
Quinacridone Gold             62
Phthalo Green Blue Shade      62
Cascade Green                 62
Burnt Sienna                  62
Phthalo Turquoise             62
Phthalo Blue Green Shade      62
Cobalt Teal Blue              62
Quinacridone Burnt Scarlet    62
Alizarin Crimson              62
Quinacridone Rose             62
Prussian Blue                 62
Quinacridone Red              62
Phthalo Green Yellow Shade    62
Opera Pink                    62
Pyrrol Red                    62
Imperial Purple               62
Hansa Yellow Medium           62
Lemon Yellow                  62
Ultramarine Blue              62
Pyrrol Orange                 62
Permanent Alizarin Crimson    62
Aussie Red Gold               62
Quinacridone Sienna           62
Transparent Pyrrol Orange     62
Hansa Yellow Light            62
Cadmium Red Medium Hue        62
Phthalo Blue Red Shade        62
Naples Yellow                 62
Raw Umber                     62
Bismuth Vanadate Yellow       62
Pyrrol Scarlet                62
Perinone Orange               62
Cerulean Blue Chromium        62
Aureolin (Cobalt Yellow)      62
Sepia                         62
Quinacridone Violet           62
Quinacridone Purple           62
Carbazole Violet              62
Burnt Umber                   62
Nickel Azo Yellow             62
Quinacridone Magenta          62
Yellow Ochre                  62
Shadow Violet                 50
Cobalt Violet                 43
Buff Titanium                 40
Name: name, dtype: int64

In [16]:
ds_neutral.name.value_counts()

Lunar Blue          62
Indigo              62
Neutral Tint        62
Perylene Green      62
Lunar Black         62
Indanthrone Blue    62
Deep Sap Green      62
Titanium White      62
Payne’s Gray        62
Chinese White       62
Undersea Green      62
Buff Titanium       22
Cobalt Violet       19
Shadow Violet       12
Name: name, dtype: int64

## some colors sit between neutrals and chroma. Move them to neutrals

In [20]:
moved_neutrals =  ds_chroma[(ds_chroma['name'] == 'Shadow Violet') | (ds_chroma['name'] == 'Cobalt Violet') | (ds_chroma['name'] == 'Buff Titanium')]

In [21]:
moved_neutrals

,name,label,h,s,v,H,H120,H240
124,Buff Titanium,3,21.694444,77.777778,245.805556,21.694444,81.694444,141.694444
125,Buff Titanium,3,21.722222,77.537037,246.212963,21.722222,81.722222,141.722222
126,Buff Titanium,3,21.731481,77.620370,246.398148,21.731481,81.731481,141.731481
127,Buff Titanium,3,21.712963,77.777778,246.055556,21.712963,81.712963,141.712963
128,Buff Titanium,3,21.694444,77.972222,245.620370,21.694444,81.694444,141.694444
...,...,...,...,...,...,...,...,...
2277,Shadow Violet,37,10.472222,85.888889,94.222222,10.472222,70.472222,130.472222
2278,Shadow Violet,37,10.222222,83.833333,95.037037,10.222222,70.222222,130.222222
2279,Shadow Violet,37,10.509259,79.916667,97.898148,10.509259,70.509259,130.509259
2280,Shadow Violet,37,9.888889,78.472222,92.638889,9.888889,69.888889,129.888889
2281,Shadow Violet,37,10.296296,78.166667,91.222222,10.296296,70.296296,130.296296

In [22]:
#remove the neutrals from the original chroma data base
ds_chroma_edit = ds_chroma[(ds_chroma['name'] != 'Shadow Violet') & (ds_chroma['name'] != 'Cobalt Violet') & (ds_chroma['name'] != 'Buff Titanium')]

In [24]:
ds_chroma_edit.name.value_counts()

Cobalt Blue                   62
Quinacridone Rose             62
Cerulean Blue                 62
Quinacridone Deep Gold        62
Moonglow                      62
Organic Vermilion             62
Ultramarine Turquoise         62
New Gamboge                   62
Manganese Blue Hue            62
Indian Yellow                 62
Quinacridone Burnt Orange     62
Quinacridone Pink             62
Sap Green                     62
Cadmium Yellow Light Hue      62
Raw Sienna                    62
Hooker’s Green                62
Cadmium Yellow Medium Hue     62
Quinacridone Coral            62
Green Gold                    62
Rose of Ultramarine           62
Viridian                      62
French Ultramarine            62
Quinacridone Gold             62
Phthalo Green Blue Shade      62
Cascade Green                 62
Burnt Sienna                  62
Phthalo Turquoise             62
Phthalo Blue Green Shade      62
Cobalt Teal Blue              62
Quinacridone Burnt Scarlet    62
Alizarin Crimson              62
Ultramarine Violet            62
Prussian Blue                 62
Rich Green Gold               62
Quinacridone Red              62
Opera Pink                    62
Pyrrol Red                    62
Imperial Purple               62
Hansa Yellow Medium           62
Lemon Yellow                  62
Ultramarine Blue              62
Pyrrol Orange                 62
Permanent Alizarin Crimson    62
Aussie Red Gold               62
Quinacridone Sienna           62
Transparent Pyrrol Orange     62
Hansa Yellow Light            62
Cadmium Red Medium Hue        62
Phthalo Blue Red Shade        62
Quinacridone Purple           62
Bismuth Vanadate Yellow       62
Pyrrol Scarlet                62
Cerulean Blue Chromium        62
Aureolin (Cobalt Yellow)      62
Sepia                         62
Quinacridone Violet           62
Carbazole Violet              62
Burnt Umber                   62
Nickel Azo Yellow             62
Quinacridone Magenta          62
Yellow Ochre                  62
Raw Umber                     62
Perinone Orange               62
Phthalo Green Yellow Shade    62
Naples Yellow                 62
Name: name, dtype: int64